.main-container {
  display: inline-block; /* Ensures the container only takes the space of its content */
  margin: 0; 
  padding: 0;
}

.header__container {
  margin: 0; 
  margin-top: -20px;
  padding: 0; 
  height: 130px;
}

.logo {
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 ;
  padding: 0;
  width: 250px;
  height: 150px;
}

@media (max-width: 576px) {
  .logo {
    max-width: 200px; /* Adjust logo size for smaller screens */
  }
}

/* Tablets and small desktops */
@media (min-width: 577px) and (max-width: 992px) {
  .logo {
    max-width: 225px; /* Adjust logo size for medium screens */
  }
}

/* Large desktops */
@media (min-width: 993px) {
  .header__container {
    height: 130px; /* Ensure the header has a consistent height on larger screens */
  }
}



