<div class="title_container">
  <h1 class="title">Lorem ipsum dolor sit amet.</h1>
</div>

<div class="container">
  <div class="description">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing.</h2>
    <ul class="tick-list">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet
        dapibus odio, in hendrerit.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet
        dapibus odio, in hendrerit.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet
        dapibus odio, in hendrerit.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet
        dapibus odio, in hendrerit.
      </li>
    </ul>

    <div class="video-container">
      <a href="https://www.youtube.com/watch?v=b2QHWGrsuwU" target="_blank">
      <div class="video-thumbnail">
        <img src="https://img.youtube.com/vi/b2QHWGrsuwU/hqdefault.jpg" alt="Video Thumbnail" />
        <div class="play-button"></div>
      </div>
    </a>
    </div>
  </div>

  <!-- Calendly inline widget begin -->
  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/paris-aline/testing-event?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=67329e"
  ></div>
  <!-- Calendly inline widget end -->
</div>

<script
  type="text/javascript"
  src="https://assets.calendly.com/assets/external/widget.js"
  async
></script>
